div.form-sec {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin:auto;
    width: 100%;
    height: 100%;
    /* display: block; */
    /* background-image: url('./assets/images/form-bg.jpg');
    background-position: center center; */
    /* background-size: cover; */
    background-color: #204293;
    display: none;
}
.form-sec.active{
    display: block;
}
.box{
    position: relative;
}

.box img{
    display: block;
    margin:  auto;
    width: 70%;
    margin-top: 2%;
    /* position: relative; */
}


